<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoluumTestCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoluumTestCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoluumTestCs.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>sdit.recruit2@codewise.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>r8uJ4@5qQpC%</value>
            </setting>
        </VoluumTestCs.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VoluumTestCs.Properties.Settings>
            <setting name="SecurityUrl" serializeAs="String">
                <value>https://security.voluum.com</value>
            </setting>
            <setting name="CoreUrl" serializeAs="String">
                <value>https://core.voluum.com</value>
            </setting>
            <setting name="ReportsUrl" serializeAs="String">
                <value>https://reports.voluum.com </value>
            </setting>
        </VoluumTestCs.Properties.Settings>
    </applicationSettings>
</configuration>